@import 'src/Shared/layout/variables';

.ContentBar {
  flex-basis: 800px;
  flex-grow: 1;

  .channelList {
    padding-bottom: 12px;
    display: flex;

    button {
      width: 96px;
    }
  }

  .trendlist {
    display: grid;
    justify-content: center;

    width: 100%;
    height: 100%;
    overflow: auto;
  }
}